<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">


<head>
    <base href=".">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>组成信息</title>

    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/sb-admin-2.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/morris.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/font-awesome.min.css">

</head>

<body>
    <div id="wrapper">

    <script src="http://39.106.148.96/static/js/jquery.min.js"></script>
    <script src="http://39.106.148.96/static/js/bootstrap.min.js"></script>
    <script src="http://39.106.148.96/static/js/metisMenu.min.js"></script>
    <script src="http://39.106.148.96/static/js/raphael.min.js"></script>
    <script src="http://39.106.148.96/static/js/morris.min.js"></script>
    <script src="http://39.106.148.96/static/js/morris-data.js"></script>
    <script src="http://39.106.148.96/static/js/sb-admin-2.js"></script>

    <div id="page-wrapper" style="min-height: 589px; margin-left: 0">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><font color="steelblue">组成信息</font></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    
                        
                    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form" action="http://39.106.148.96/dbms/first2-1/" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                       <label style="width: 15%;text-align: left;color:steelblue" >主要组成</label>
                                        <label style="width: 40%;text-align: left; color:steelblue">含量取值范围(单位%)</label>
                                        <label style="width: 30%;text-align: left;color:steelblue">间隔</label>

                                            <select class="form-control" id="test-selectm" name="main_comprise" style="width: 14%; display: inline">
                                                

<option>Fe</option><option>H</option><option>He</option>
<option>Li</option><option>Be</option><option>B</option><option>C</option><option>N</option><option>O</option><option>F</option><option>Ne</option>
<option>Na</option><option>Mg</option><option>Al</option><option>Si</option><option>P</option><option>S</option><option>Cl</option><option>Ar</option>
<option>K</option><option>Ca</option><option>Sc</option><option>Ti</option><option>V</option><option>Cr</option><option>Mn</option><option>Co</option><option>Ni</option><option>Cu</option><option>Zn</option><option>Ga</option><option>Ge</option><option>As</option><option>Se</option><option>Br</option><option>Kr</option>
<option>Rb</option><option>Sr</option><option>Y</option><option>Zr</option><option>Nb</option><option>Mo</option><option>Tc</option><option>Ru</option><option>Rh</option><option>Pd</option><option>Ag</option><option>Cd</option><option>n</option><option>Sn</option><option>Sb</option><option>Te</option><option>l</option><option>Xe</option>
<option>Cs</option><option>Ba</option><option>Hf</option><option>Ta</option><option>W</option><option>Re</option><option>Os</option><option>lr</option><option>Pt</option><option>Au</option><option>Hg</option><option>Ti</option><option>Pb</option><option>Bi</option><option>Po</option><option>At</option><option>Rn</option>
<option>Fr</option><option>Ra</option><option>Db</option><option>Sg</option><option>Bh</option><option>Hs</option>


                                            </select>
                                            <input class="form-control" id="test-inputm"  name="main_elem" type="text" value="{{ save_para.main_elem.0 }}" style="display: inline; width: 40%">
                                            <input class="form-control" id="test-intervalm"  name="main_interval" type="text" value="{{ save_para.main_interval }}" style="display: inline; width: 30%">
                                        </div>
                                    <div class="form-group">
                                        <label style="width: 15%;text-align: left;color:steelblue">次要组成</label>
                                        <label style="width: 40%;text-align: left;color:steelblue">含量取值范围(单位%)</label>
                                        <label style="width: 30%;text-align: left;color:steelblue">间隔</label>


                                        <select class="form-control" id="test-selects" name="second_comprise1" style="width: 14%; display: inline">

<option>Cr</option><option>H</option><option>He</option>
<option>Li</option><option>Be</option><option>B</option><option>C</option><option>N</option><option>O</option><option>F</option><option>Ne</option>
<option>Na</option><option>Mg</option><option>Al</option><option>Si</option><option>P</option><option>S</option><option>Cl</option><option>Ar</option>
<option>K</option><option>Ca</option><option>Sc</option><option>Ti</option><option>V</option><option>Mn</option><option>Fe</option><option>Co</option><option>Ni</option><option>Cu</option><option>Zn</option><option>Ga</option><option>Ge</option><option>As</option><option>Se</option><option>Br</option><option>Kr</option>
<option>Rb</option><option>Sr</option><option>Y</option><option>Zr</option><option>Nb</option><option>Mo</option><option>Tc</option><option>Ru</option><option>Rh</option><option>Pd</option><option>Ag</option><option>Cd</option><option>n</option><option>Sn</option><option>Sb</option><option>Te</option><option>l</option><option>Xe</option>
<option>Cs</option><option>Ba</option><option>Hf</option><option>Ta</option><option>W</option><option>Re</option><option>Os</option><option>lr</option><option>Pt</option><option>Au</option><option>Hg</option><option>Ti</option><option>Pb</option><option>Bi</option><option>Po</option><option>At</option><option>Rn</option>
<option>Fr</option><option>Ra</option><option>Db</option><option>Sg</option><option>Bh</option><option>Hs</option>


                                        </select>
                                        <input class="form-control" id="test-inputs" name="second_elem1" type="text" value="{{ save_para.second_elem1 }}" style="display: inline; width: 40%">
                                        <input class="form-control" id="test-intervals" name="second_interval1" type="text" value="{{ save_para.second_interval1 }}" style="display: inline; width: 30%">
                                    </div>
                                    <div class="form-group">
                                        <label style="width: 15%;text-align: left;color:steelblue">次要组成</label>
                                        <label style="width: 40%;text-align: left;color:steelblue">含量取值范围(单位%)</label>
                                        <label style="width: 30%;text-align: left;color:steelblue">间隔</label>

                                        <select class="form-control" id="test-select1" name="second_comprise2" style="width: 14%; display: inline">
                                            
<option>Al</option><option>Cr</option><option>H</option><option>He</option>
<option>Li</option><option>Be</option><option>B</option><option>C</option><option>N</option><option>O</option><option>F</option><option>Ne</option>
<option>Na</option><option>Mg</option><option>Si</option><option>P</option><option>S</option><option>Cl</option><option>Ar</option>
<option>K</option><option>Ca</option><option>Sc</option><option>Ti</option><option>V</option><option>Mn</option><option>Fe</option><option>Co</option><option>Ni</option><option>Cu</option><option>Zn</option><option>Ga</option><option>Ge</option><option>As</option><option>Se</option><option>Br</option><option>Kr</option>
<option>Rb</option><option>Sr</option><option>Y</option><option>Zr</option><option>Nb</option><option>Mo</option><option>Tc</option><option>Ru</option><option>Rh</option><option>Pd</option><option>Ag</option><option>Cd</option><option>n</option><option>Sn</option><option>Sb</option><option>Te</option><option>l</option><option>Xe</option>
<option>Cs</option><option>Ba</option><option>Hf</option><option>Ta</option><option>W</option><option>Re</option><option>Os</option><option>lr</option><option>Pt</option><option>Au</option><option>Hg</option><option>Ti</option><option>Pb</option><option>Bi</option><option>Po</option><option>At</option><option>Rn</option>
<option>Fr</option><option>Ra</option><option>Db</option><option>Sg</option><option>Bh</option><option>Hs</option>


                                        </select>
                                        <input class="form-control" id="test-input1"  name="second_elem2" type="text" value="{{ save_para.second_elem2 }}" style="display: inline; width: 40%">
                                        <input class="form-control" id="test-interval1"  name="second_interval2" type="text" value="{{ save_para.second_interval2 }}" style="display: inline; width: 30%">
                                    </div>
                                    <div class="form-group">
                                        <label style="width: 15%;text-align: left;color:steelblue">微量组成</label>
                                        <label style="width: 40%;text-align: left;color:steelblue">含量取值范围(单位%)</label>
                                        <label style="width: 30%;text-align: left;color:steelblue">间隔</label>

                                            <select class="form-control" id="test-selectt" name="trace_comprise" style="width: 14%; display: inline">
                                                
<option></option><option>Al</option><option>Cr</option><option>H</option><option>He</option>
<option>Li</option><option>Be</option><option>B</option><option>C</option><option>N</option><option>O</option><option>F</option><option>Ne</option>
<option>Na</option><option>Mg</option><option>Si</option><option>P</option><option>S</option><option>Cl</option><option>Ar</option>
<option>K</option><option>Ca</option><option>Sc</option><option>Ti</option><option>V</option><option>Mn</option><option>Fe</option><option>Co</option><option>Ni</option><option>Cu</option><option>Zn</option><option>Ga</option><option>Ge</option><option>As</option><option>Se</option><option>Br</option><option>Kr</option>
<option>Rb</option><option>Sr</option><option>Y</option><option>Zr</option><option>Nb</option><option>Mo</option><option>Tc</option><option>Ru</option><option>Rh</option><option>Pd</option><option>Ag</option><option>Cd</option><option>n</option><option>Sn</option><option>Sb</option><option>Te</option><option>l</option><option>Xe</option>
<option>Cs</option><option>Ba</option><option>Hf</option><option>Ta</option><option>W</option><option>Re</option><option>Os</option><option>lr</option><option>Pt</option><option>Au</option><option>Hg</option><option>Ti</option><option>Pb</option><option>Bi</option><option>Po</option><option>At</option><option>Rn</option>
<option>Fr</option><option>Ra</option><option>Db</option><option>Sg</option><option>Bh</option><option>Hs</option>


                                            </select>
                                            <input class="form-control" id="test-inputt"  name="trace_elem" type="text" value="{{ save_para.trace_elem }}" style="display: inline; width: 40%">
                                            <input class="form-control" id="test-intervalt"  name="trace_interval" type="text" value="{{ save_para.trace_interval }}" style="display: inline; width: 30%">
                                        </div>
                                    <button type="submit" name="save" class="btn btn-default" style="width: 10%; color: white; background-color: steelblue;">保 存</button>
                                    <button type="submit" name="reset" class="btn btn-default" style="width: 10%; color: white; background-color: steelblue; margin-left: 40px">恢 复</button>
                                </form>
                                <div class="">
                                    <div style="text-align: center">
                                        <font color="green" size="2" style="text-align: center;margin: 0 40%">{{ success }}</font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->


</body>

</html>
