<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">


<head>
    <base href=".">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>结构弛豫</title>

    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/sb-admin-2.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/morris.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/font-awesome.min.css">

</head>

<body>
    <div id="wrapper">

    <script src="http://39.106.148.96/static/js/jquery.min.js"></script>
    <script src="http://39.106.148.96/static/js/bootstrap.min.js"></script>
    <script src="http://39.106.148.96/static/js/metisMenu.min.js"></script>
    <script src="http://39.106.148.96/static/js/raphael.min.js"></script>
    <script src="http://39.106.148.96/static/js/morris.min.js"></script>
    <script src="http://39.106.148.96/static/js/morris-data.js"></script>
    <script src="http://39.106.148.96/static/js/sb-admin-2.js"></script>

    <div id="page-wrapper" style="min-height: 589px; margin-left: 0">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="color: steelblue">结构弛豫</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" enctype="multipart/form-data" action="http://39.106.148.96/dbms/first3-2/" method="post">
                                        <h2 style="color: steelblue">INCAR</h2>
                                        <div class="form-group">
                                            <label><font color ="steelblue">PREC</font></label>
                                            <select class="form-control" name="PREC">
                                                <option>Low</option>
                                                <option>Medium</option>
                                                <option>High</option>
                                                <option>Normal</option>
                                                <option>Accurate</option>
                                            </select>
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">ENCUT</font></label>
                                            <input class="form-control" name="ENCUT" type="text" value="500">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">ISTART</font></label>
                                            <input class="form-control" name="ISTART" value="1">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">MAGMOM</font></label>
                                            <input class="form-control" name="MAGMOM">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">EDIFF</font></label>
                                            <input class="form-control" name="EDIFF" value="1E-6">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">IALGO</font></label>
                                            <input class="form-control" name="EDIFF" value="38">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">ISTART</font></label>
                                            <input class="form-control" name="EDIFF" value="0">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">ICHARG</font></label>
                                            <input class="form-control" name="ICHARG" value="2">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">NELMIN</font></label>
                                            <input class="form-control" name="ICHARG" value="2">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">EDIFFG</font></label>
                                            <input class="form-control" name="EDIFFG" value="-0.01">
                                        </div>

                                        <div class="form-group" >
                                            <label><font color ="steelblue">NSW</font></label>
                                            <input class="form-control" name="NSW" value="500">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">IBRION</font></label>
                                            <input class="form-control" name="IBRION" value="2">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">ISIF</font></label>
                                            <input class="form-control" name="ISIF" value="3">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">ISMEAR</font></label>
                                            <input class="form-control" name="ISMEAR" value="1">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">POTIM</font></label>
                                            <input class="form-control" name="POTIM" value="0.5">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">LDAU</font></label>
                                            <input class="form-control" name="LDAU" value="TRUE">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">LDAUTYPE</font></label>
                                            <input class="form-control" name="LDAUTYPE" value="2">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">LDAUL</font></label>
                                            <input class="form-control" name="LDAUL">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">LDAUU</font></label>
                                            <input class="form-control" name="LDAUU">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">LDAUJ</font></label>
                                            <input class="form-control" name="LDAUJ">
                                        </div>

                                        <h2 style="color: steelblue ">KPOINTS</h2>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">自动产生K点</font></label>
                                            <input class="form-control" name="k" value="0">
                                        </div>
                                        <div class="form-group" >
                                            <label><font color ="steelblue">产生K点方法</font></label>
                                            <select class="form-control" name="mesh">
                                                <option>M</option>
                                                <option>G</option>
                                            </select>
                                        </div>
                                        <div class="form-group" >
                                            <textarea class="form-control" rows="2" name="TempTensor"></textarea>
                                        </div>
                                        <button type="submit" name="save" class="btn btn-default" style="width: 10%; color: white; background-color: steelblue;">保 存</button>
                                    <button type="submit" name="reset" class="btn btn-default" style="width: 10%; color: white; background-color: steelblue; margin-left: 40px">恢 复</button>
                                </form>
                                <div class="">
                                    <div style="text-align: center">
                                        <font color="green" size="2" style="text-align: center;margin: 0 40%">{{ success }}</font>
                                    </div>
                                </div>
                                </div>                 
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->


</body>

</html>


