<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">


<head>
    <base href=".">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>目标性质</title>

    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/sb-admin-2.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/morris.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/font-awesome.min.css">

</head>

<body>
    <div id="wrapper">

    <script src="http://39.106.148.96/static/js/jquery.min.js"></script>
    <script src="http://39.106.148.96/static/js/bootstrap.min.js"></script>
    <script src="http://39.106.148.96/static/js/metisMenu.min.js"></script>
    <script src="http://39.106.148.96/static/js/raphael.min.js"></script>
    <script src="http://39.106.148.96/static/js/morris.min.js"></script>
    <script src="http://39.106.148.96/static/js/morris-data.js"></script>
    <script src="http://39.106.148.96/static/js/sb-admin-2.js"></script>

        <div id="page-wrapper" style="min-height: 589px; margin-left: 0">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><font color="steelblue">目标性质</font></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <form role="form" action="http://39.106.148.96/dbms/first1-2/" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label><font color="steelblue">热  学</font></label>
                                        <div class="checkbox">
                                            <label style="size: 120px；width：15%；" class="checkbox-inline">
                                                {% if 'ThermalCon' in save_para.thermology %}
                                                <input type="checkbox" value="ThermalCon" name="thermology" checked />热导率
                                                {% else %}
                                                <input type="checkbox" value="ThermalCon" name="thermology"/>热导率
                                                {% endif %}
                                            </label>
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                {% if 'ThermalExpC' in save_para.thermology %}
                                                <input type="checkbox" value="ThermalExpC" name="thermology" checked />热导率
                                                {% else %}
                                                <input type="checkbox" value="ThermalExpC" name="thermology"/>热导率
                                                {% endif %}
                                            </label>
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                {% if 'HeatCap' in save_para.thermology %}
                                                <input type="checkbox" value="HeatCap" name="thermology" checked />热导率
                                                {% else %}
                                                <input type="checkbox" value="HeatCap" name="thermology"/>热导率
                                                {% endif %}
                                            </label>
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                {% if 'MeltingPoint' in save_para.thermology %}
                                                <input type="checkbox" value="MeltingPoint" name="thermology" checked />热导率
                                                {% else %}
                                                <input type="checkbox" value="MeltingPoint" name="thermology"/>热导率
                                                {% endif %}
                                            </label>
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                {% if 'BoilingPoint' in save_para.thermology %}
                                                <input type="checkbox" value="BoilingPoint" name="thermology" checked />热导率
                                                {% else %}
                                                <input type="checkbox" value="BoilingPoint" name="thermology"/>热导率
                                                {% endif %}
                                                <input type="checkbox" value="BoilingPoint" name="thermology"/>沸  点
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><font color="steelblue" size="">力  学</font></label>
                                        <div class="checkbox">
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                <input type="checkbox" value="ElasticModTen" name="dynamics"/>弹性模量
                                            </label>
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                <input type="checkbox" value="TensileStr" name="dynamics"/>抗拉强度
                                            </label>
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                <input type="checkbox" value="YieldStr" name="dynamics"/>屈服强度
                                            </label>
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                <input type="checkbox" value="BreakingStr" name="dynamics"/>断裂强度
                                            </label>
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                <input type="checkbox" value="Fatigue" name="dynamics"/>疲  劳
                                            </label>
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                <input type="checkbox" value="Creep" name="dynamics" />蠕  变
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><font color="steelblue">电  学</font></label>
                                        <div class="checkbox">
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="Conductivity" />电导率
                                            </label>
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="Mobility"/>迁移率
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><font color="steelblue">光  学</font></label>
                                        <div class="checkbox">
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="AbsorbanceCoe"/>吸光系数
                                            </label>
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="DielectricCon"/>介电常数
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><font color="steelblue">磁  学</font></label>
                                        <div class="checkbox">
                                            <label style="size:120PX  width：15%；" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="AtomicMagMom"/>原子磁矩
                                            </label>
                                            <label style="size: 120px width：15%；" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="Coercivity"/>矫顽力
                                            </label>
                                        </div>
                                    </div>
                                    <button type="submit" name="save" class="btn btn-default" style="width: 10%; color: white; background-color: steelblue;">保 存</button>
                                    <button type="submit" name="reset" class="btn btn-default" style="width: 10%; color: white; background-color: steelblue; margin-left: 40px">恢 复</button>
                                </form>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

</body>

</html>

