<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">


<head>
    <base href=".">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>目标性质</title>

    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/sb-admin-2.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/morris.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/font-awesome.min.css">

</head>

<body>
    <div id="wrapper">

    <script src="http://39.106.148.96/static/js/jquery.min.js"></script>
    <script src="http://39.106.148.96/static/js/bootstrap.min.js"></script>
    <script src="http://39.106.148.96/static/js/metisMenu.min.js"></script>
    <script src="http://39.106.148.96/static/js/raphael.min.js"></script>
    <script src="http://39.106.148.96/static/js/morris.min.js"></script>
    <script src="http://39.106.148.96/static/js/morris-data.js"></script>
    <script src="http://39.106.148.96/static/js/sb-admin-2.js"></script>

        <div id="page-wrapper" style="min-height: 589px; margin-left: 0">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">目标性质</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <form role="form" action="MbxzServlet" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <h1 style="font-size: 24px">热  学</h1>
                                        <div class="checkbox">
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="ThermalCon"/>热导率
                                            </label>
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="ThermalExpC"/>热膨胀系数
                                            </label>
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="HeatCap"/>热  容
                                            </label>
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="MeltingPoint"/>熔  点
                                            </label>
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="BoilingPoint"/>沸  点
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h1 style="font-size: 24px">力  学</h1>
                                        <div class="checkbox">
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="ElasticModTen" checked/>弹性模量
                                            </label>
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="TensileStr"/>抗拉强度
                                            </label>
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="YieldStr"/>屈服强度
                                            </label>
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="BreakingStr"/>断裂强度
                                            </label>
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="Fatigue"/>疲  劳
                                            </label>
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="Creep" />蠕  变
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h1 style="font-size: 24px">电  学</h1>
                                        <div class="checkbox">
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="Conductivity" />电导率
                                            </label>
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="Mobility"/>迁移率
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h1 style="font-size: 24px">光  学</h1>
                                        <div class="checkbox">
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="AbsorbanceCoe"/>吸光系数
                                            </label>
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="DielectricCon"/>介电常数
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h1 style="font-size: 24px">磁  学</h1>
                                        <div class="checkbox">
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="AtomicMagMom"/>原子磁矩
                                            </label>
                                            <label style="size: 120px" class="checkbox-inline">
                                                <input type="checkbox" value="1" name="Coercivity"/>矫顽力
                                            </label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-default">保 存</button>
                                    <button type="reset" class="btn btn-default">恢 复</button>
                                </form>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

</body>

</html>

