<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">


<head>
    <base href=".">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FEM任务管理</title>

    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/sb-admin-2.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/morris.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/font-awesome.min.css">

</head>

<body>
    <div id="wrapper">

    <script src="http://39.106.148.96/static/js/jquery.min.js"></script>
    <script src="http://39.106.148.96/static/js/bootstrap.min.js"></script>
    <script src="http://39.106.148.96/static/js/metisMenu.min.js"></script>
    <script src="http://39.106.148.96/static/js/raphael.min.js"></script>
    <script src="http://39.106.148.96/static/js/morris.min.js"></script>
    <script src="http://39.106.148.96/static/js/morris-data.js"></script>
    <script src="http://39.106.148.96/static/js/sb-admin-2.js"></script>

    <div id="page-wrapper" style="min-height: 589px; margin-left: 0">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="color: steelblue;">FEM任务管理</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" enctype="multipart/form-data" action="http://39.106.148.96/dbms/first3-19/" method="post">
                                        <div class="form-group">
                                            <label style="color: steelblue; width:25%;">等效性质的计算设置</label>
                                            <select class="form-control" name="property" style="width: 50%; display: inline;">
                                                <option name="property" value="0">0–所有</option>
                                                <option name="property" value="1">1–等效热传导系数</option>
                                                <option name="property" value="2">2–等效热容</option>
                                                <option name="property" value="3">3–等效热膨胀系数</option>
                                                <option name="property" value="4">4–等效弹性模量</option>
                                                <option name="property" value="5">5–等效屈服强度</option>
                                                <option name="property" value="6">6–等效抗拉强度</option>
                                            </select>
                                        </div>
                                        <div class="form-group" >
                                            <label style="color: steelblue; width:25%; ">选取等效设置对应文件</label>
                                            <input type="file" name="dxszfile" style="width: 50%; display: inline;">
                                        </div>
                                        <div class="form-group">
                                            <label style="color: steelblue; width:25%;">加载速率(m/s)</label>
                                            <input class="form-control" name="strainRate" value="1e-3" style="width: 50%; display: inline;">
                                        </div>
                                        <div class="form-group">
                                            <label  style="color: steelblue; width:25%;">CPU核数</label>
                                            <input class="form-control" name="cpuNumber" value="4" style="width: 50%; display: inline;">
                                        </div>

                                        <button type="submit" class="btn btn-default" style="width: 15%; color: white; background-color: steelblue;">保 存</button>
                                        <button type="reset" class="btn btn-default" style="width: 15%; color: white; background-color: steelblue;">恢 复</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

</body>

</html>



