<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <base href=".">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>管理系统首页</title>

    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/sb-admin-2.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/morris.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        #iframe{
            margin-top: 2px;
            margin-left: 0px;
            margin-right: 0px;
            padding-right: 0px;
            padding-left: 0px;
            height: 700px;
        }
    </style>
</head>


<body>
<script type="text/javascript">
    function rl() {
        window.location.reload();
    }
    var t = window.setTimeout(hello,1000);
    window.clearTimeout(t);

</script>
<div id="wrapper">

    <!-- Navigation -->
    <!-- <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0"> -->

    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Top页面</title>

    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/sb-admin-2.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/morris.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->




        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle=" data-target=".navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://39.106.148.96/dbms/mainterface">核包壳材料</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://39.106.148.96/dbms/#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li class="divider"></li>
                        <li>
                            <a pageto="http://39.106.148.96/dbms/adduser/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/adduser/'"><i class="fa fa-plus-square-o fa-fw"></i>添加用户</a>
                        </li>
                        <li>
                            <a pageto="http://39.106.148.96/dbms/usermanage/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/usermanage/'"><i class="fa fa-angellist fa-fw"></i>用户管理</a>
                        </li>
                        <li>
                            <a href="http://39.106.148.96/dbms/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
</nav></div>






        

    
    







    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>菜单</title>
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/sb-admin-2.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/morris.css">
    <link rel="stylesheet" type="text/css" href="http://39.106.148.96/static/css/font-awesome.min.css">


    <script src="http://39.106.148.96/static/js/html5shiv.js"></script>
    <script src="http://39.106.148.96/static/js/respond.min.js"></script>
    <!--[endif]---->



<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar">
        <ul class="nav" id="side-menu">

            
            
            
            <li>
                <a href="http://39.106.148.96/dbms/mainterface/"><i class="fa fa-file-text-o fa-fw" style="color: darkblue"></i> <font color="#00008b">上传实验计算参数</font><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a>类别和性质<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a pageto="http://39.106.148.96/dbms/first1-1/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first1-1/'"><font color="blue">材料类别</font></a>
                            </li>

                            <li>
                                <a pageto="http://39.106.148.96/dbms/first1-2/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first1-2/'"><font color="blue">目标性质</font></a>
                            </li>

                            
                            
                            

                        </ul>
                    </li>
                    <li>
                        <a>成分和工艺<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a pageto="http://39.106.148.96/dbms/first2-1/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first2-1/'"><font color="blue">组成信息</font></a>
                            </li>
                            <li>
                                <a pageto="http://39.106.148.96/dbms/first2-2/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first2-2/'"><font color="blue">加工工艺</font></a>
                            </li>
                            <li>
                                <a pageto="http://39.106.148.96/dbms/first2-3/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first2-3/'"><font color="blue">测试条件</font></a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a>多尺度计算参数<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a><font color="blue">第一性原理</font> <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-1/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-1/'">结构和赝势</font></a>
                                    </li>
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-2/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-2/'">结构弛豫</font></a>
                                    </li>
                                   
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>

                            <li>
                                <a><font color="blue">分子动力学</font><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-6/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-6/'">基本信息</font></a>
                                    </li>
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-7/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-7/'">原子模型搭建</font></a>
                                    </li>
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-8/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-8/'">计算参数</font></a>
                                    </li>
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-9/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-9/'">计算提交</font></a>
                                    </li>

                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                            <li>
                                <a><font color="blue">相场</font><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-10/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-10/'">相基本信息</font></a>
                                    </li>
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-11/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-11/'">初始结构</font></a>
                                    </li>
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-12/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-12/'">外加载荷</font></a>
                                    </li>
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-13/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-13/'">物理模型</font></a>
                                    </li>
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-14/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-14/'">计算参数</font></a>
                                    </li>
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-15/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-15/'">计算任务参数</font></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a><font color="blue">有限元</font><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-16/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-16/'">载荷和体系</font></a>
                                    </li>
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-17/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-17/'">材料性质</font></a>
                                    </li>
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-18/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-18/'">建模参数</font></a>
                                    </li>
                                    <li>
                                        <a pageto="http://39.106.148.96/dbms/first3-19/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first3-19/'">任务管理</font></a>
                                    </li>

                                </ul>
                                <!-- /.nav-third-level -->
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a pageto="http://39.106.148.96/dbms/first4-1/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/first4-1/'">神经网络参数设置</a>
                    </li>
                    
                    <li>
                        <a pageto="http://39.106.148.96/dbms/compute/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/compute/'">确认上传</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="http://39.106.148.96/dbms/mainterface/"><i class="fa fa-bar-chart-o fa-fw " style="color: darkblue"></i><font color="#00008b">数据库操作</font><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a>材料晶体信息<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a pageto="http://39.106.148.96/dbms/crystalselect/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/crystalselect/'"><font color="blue">材料晶体信息查询</font></a>
                            </li>
                            <li>
                                <a pageto="http://39.106.148.96/dbms/crystalinsert/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/crystalinsert/'"><font color="blue">材料晶体信息添加</font></a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a>材料加工信息<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                <a pageto="http://39.106.148.96/dbms/processselect/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/processselect/'"><font color="blue">材料加工信息查询</font></a>
                                </li>
                            <li>
                                <a pageto="http://39.106.148.96/dbms/processinsert/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/processinsert/'"><font color="blue">材料加工信息添加</font></a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a>材料测试信息<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a pageto="http://39.106.148.96/dbms/testselect/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/testselect/'"><font color="blue">材料测试信息查询</font></a>
                            </li>
                            <li>
                                <a pageto="http://39.106.148.96/dbms/testinsert/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/testinsert/'"><font color="blue">材料测试信息添加</font></a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a>材料辐射信息<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a pageto="http://39.106.148.96/dbms/radiationselect/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/radiationselect/'"><font color="blue">材料辐射信息查询</font></a>
                            </li>
                            <li>
                                <a pageto="http://39.106.148.96/dbms/radiationinsert/" href="javascript:void();" onclick="document.getElementById('iframe').src = 'http://39.106.148.96/dbms/radiationinsert/'"><font color="blue">材料辐射信息添加</font></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            
                
            
            
                
            
        </ul>
    </div>
    <!-- /.sidebar -->
</div>

<!-- jQuery -->
<script src="http://39.106.148.96/static/js/jquery.min.js"></script>
<script src="http://39.106.148.96/static/js/bootstrap.min.js"></script>
<script src="http://39.106.148.96/static/js/metisMenu.min.js"></script>
<script src="http://39.106.148.96/static/js/raphael.min.js"></script>
<script src="http://39.106.148.96/static/js/morris.min.js"></script>
<script src="http://39.106.148.96/static/js/morris-data.js"></script>
<script src="http://39.106.148.96/static/js/sb-admin-2.js"></script>
<script>
    function logout() {
        if(confirm("确实要注销吗？") == true)
            return true;
        else
            return false;
    }
</script>



    
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <iframe id="iframe" src={{ iframeurl }} class="col-md-12"></iframe>
            </div>
        </div>
    </div>


</body></html>